<!-- Button trigger delete moodboard modal -->
<button
  type="button"
  class="btn btn-danger"
  data-mdb-toggle="modal"
  data-mdb-target="#deleteMoodboardModal"
>
  Delete
</button>
<!-- Button trigger delete moodboard modal -->

<!-- Delete Moodboard Modal -->
<div
  class="modal fade"
  id="deleteMoodboardModal"
  tabindex="-1"
  aria-labelledby="deleteMoodboardModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5
          class="modal-title"
          id="deleteMoodboardModalLabel"
          th:text="${'Delete ' + moodboard.name + '?'}"
        ></h5>
        <button
          type="button"
          class="btn-close"
          data-mdb-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">You cannot undo this action.</div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-mdb-dismiss="modal"
        >
          Close
        </button>
        <a
          class="btn btn-danger"
          th:href="@{/delete_moodboard/{id}(id=${moodboard.id})}"
          >Delete</a
        >
      </div>
    </div>
  </div>
</div>
<!-- Delete Moodboard Modal -->
