/* hide radio button */
.hidden-radio {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* responsive images */
.hidden-radio + img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  cursor: pointer;
  transition: all 0.4s;
}

/* checked indicator */
.hidden-radio:checked + img {
  transform: scale(1.075);
  filter: brightness(1.2);
}
