<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Bootstrap/MDB5-STANDARD-UI-KIT-Free-3.5.1/css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="../Bootstrap/MDB5-STANDARD-UI-KIT-Free-3.5.1/css/MDBoostrap/mdb.dark.min.css" />


    <script type = "text/javascript" src="../Bootstrap/MDB5-STANDARD-UI-KIT-Free-3.5.1/js/mdb.min.js"></script>
    <script type="text/javascript" src="../Bootstrap/MDB5-STANDARD-UI-KIT-Free-3.5.1/js/bootstrap.min.js"></script>
    <script src="../Bootstrap/js/"></script>


    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">

    <link rel="stylesheet" href="../fonts/icomoon/style.css">

    <link rel="stylesheet" href="../Bootstrap/MDB5-STANDARD-UI-KIT-Free-3.5.1/css/MDBoostrap/owl.carousel.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="../Bootstrap/MDB5-STANDARD-UI-KIT-Free-3.5.1/css/style.css">



    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="../Bootstrap/MDB5-STANDARD-UI-KIT-Free-3.5.1/css/style1.css">
</head>
<style>
    /* Carousel styling */
    #introCarousel,
    .carousel-inner,
    .carousel-item,
    .carousel-item.active {
        height: 100vh;
    }

    .carousel-item:nth-child(1) {
        background-image: url('https://images.unsplash.com/photo-1495954380655-01609180eda3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    .carousel-item:nth-child(2) {
        background-image: url('https://images.unsplash.com/photo-1465447142348-e9952c393450?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1268&q=80');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    .carousel-item:nth-child(3) {
        background-image: url('https://images.unsplash.com/photo-1519501025264-65ba15a82390?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    /* Height for devices larger than 576px */
    @media (min-width: 992px) {
        #introCarousel {
            margin-top: -58.59px;
        }
    }

    .navbar .nav-link {
        color: #fff !important;
    }
</style>
<script>
    window.onload = function () {
        fetch_random_image(10);
      };

      function fetch_random_image(i) {
        var access_key = "ciSDJprk_BRsXoaM0uQC8d5y5_bv2ekXCZv6QxquHLU";
        var unsplash_API = "https://api.unsplash.com/";
        var request =
          unsplash_API +
          "photos/random?count=" +
          i +
          "&client_id=" +
          access_key;

        fetch(request)
          .then((response) => response.json())
          .then((json) => {
            console.log(json);
            for (
              let index = 0;
              index < 6;
              index++
            ) {
              var result = json[index];
              var adj_html =
                `<img src="${result.urls.regular}" class="w-100" id="${result.id}" onClick="open_post(this.id)" class="img_fluid">` +
                "<br/>";
                console.log(adj_html);
              document
                .getElementById(`frame_${index + 1}`)
                .insertAdjacentHTML("afterend", adj_html);
            }
          });
      }

      // Open new post on clicked image
      function open_post(image_id) {
        document.location.href = url =
          "post.html?id=" + encodeURIComponent(image_id);
      }
</script>

<title>Document</title>
</head>
<body>
<!--Main Navigation-->

<!-- Carousel wrapper -->
<!-- Navbar -->
<nav id="colorlib-main-nav" role="navigation">
    <a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle active"><i></i></a>
    <div class="js-fullheight colorlib-table">

        <div class="colorlib-table-cell js-fullheight">
            <div class="row no-gutters">
                <div class="col-md-12 text-center">
                    <h1 class="mb-4"><a href="index.html" class="logo"><img style="width: 400px; height: 400px;" src="../Bootstrap/MDB5-STANDARD-UI-KIT-Free-3.5.1/img/icon.png"></a></h1>
                    <ul>
                        <li><a href="../templates/index.html"><span>My Profile</span></a></li>
                        <li><a href="About.html"><span>About</span></a></li>
                        <li><a href="contact.html"><span>Contact</span></a></li>
                        <li><a href="templates/index.html"><span>Sign Out</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-dark d-none d-lg-block" style="z-index: 2000 ; background-color: rgba(0, 0, 0, 0.4);">
    <div class="container-fluid">
        <!-- Navbar brand -->
        <img style="width: 40px; height: 40px" src="../Bootstrap/MDB5-STANDARD-UI-KIT-Free-3.5.1/img/icon.png">
        <a class="navbar-brand nav-link" target="_blank" href="">
            <strong>My Picture</strong>
        </a>
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarExample01"
                aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarExample01">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">

                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" rel="nofollow"
                       target="_blank"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" target="_blank"></a>
                </li>
            </ul>

            <ul class="navbar-nav list-inline">
                <!-- Icons -->
                <li>

                </li>
                <li class="">
                    <a class="nav-link" href="" rel="nofollow"
                       target="_blank">
                        <i class="fab fa-youtube"></i>
                    </a>
                </li>
                <li class="">
                    <a class="nav-link" href="" rel="nofollow" target="_blank">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" rel="nofollow" target="_blank">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <!-- Search form -->
                    <form action="search_result.html" class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
                    </form>
                </li>
                <li class="nav-item">
                    <div class="container">
                        <div class="colorlib-navbar-brand">
                            <a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Navbar -->

<!-- Carousel wrapper -->
<div id="introCarousel" class="carousel slide carousel-fade shadow-2-strong" data-mdb-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-mdb-target="#introCarousel" data-mdb-slide-to="0" class="active"></li>
        <li data-mdb-target="#introCarousel" data-mdb-slide-to="1"></li>
        <li data-mdb-target="#introCarousel" data-mdb-slide-to="2"></li>
    </ol>

    <!-- Inner -->
    <div class="carousel-inner">
        <!-- Single item -->
        <div class="carousel-item active">
            <div class="mask" >
                <div class="d-flex justify-content-center align-items-center h-100">
                    <div class="text-white text-center">


                    </div>
                </div>
            </div>
        </div>

        <!-- Single item -->
        <div class="carousel-item">
            <div class="mask" >
                <div class="d-flex justify-content-center align-items-center h-100">
                    <div class="text-white text-center">

                    </div>
                </div>
            </div>
        </div>

        <!-- Single item -->
        <div class="carousel-item">
            <div class="mask" >
                <div class="d-flex justify-content-center align-items-center h-100">
                    <div class="text-white text-center">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Inner -->

    <!-- Controls -->
    <a class="carousel-control-prev" href="#introCarousel" role="button" data-mdb-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#introCarousel" role="button" data-mdb-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<!-- Carousel wrapper -->
</header>
<!--Main Navigation-->
</header>
<!--Main Navigation-->
<br>
<!--Section: Images-->
<section class="text-center">

    <!-- Grid row -->
    <div class="row">

        <!-- Grid column -->
        <div class="col-lg-4 col-md-12 mb-3">

            <div class="view overlay z-depth-1-half">
                 <div id="frame_1"></div>
                <a>
                    <div class="mask rgba-white-light"></div>
                </a>
            </div>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 mb-3">

            <div class="view overlay z-depth-1-half">
                <div id="frame_2"></div>
                <a>
                    <div class="mask rgba-white-light"></div>
                </a>
            </div>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 mb-3">

            <div class="view overlay z-depth-1-half">
                <div id="frame_3"></div>
                <a>
                    <div class="mask rgba-white-light"></div>
                </a>
            </div>

        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row -->

    <!-- Grid row -->
    <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mb-3">

            <div class="view overlay z-depth-1-half">
                <div id="frame_4"></div>
                <a>
                    <div class="mask rgba-white-light"></div>
                </a>
            </div>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 mb-3">

            <div class="view overlay z-depth-1-half">
                <div id="frame_5"></div>
                <a>
                    <div class="mask rgba-white-light"></div>
                </a>
            </div>

        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row -->

    <!-- Grid row -->
    <div class="row">

        <!-- Grid column -->
        <div class="col-md-12 mb-3">

            <div class="view overlay z-depth-1-half">
                <div id="frame_6"></div>
                <a>
                    <div class="mask rgba-white-light"></div>
                </a>
            </div>

        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row -->

</section>
<!--Section: Images-->

<script src="../Bootstrap/MDB5-STANDARD-UI-KIT-Free-3.5.1/js/jquery.min.js"></script>
<script src="../Bootstrap/MDB5-STANDARD-UI-KIT-Free-3.5.1/js/popper.js"></script>
<script src="../Bootstrap/MDB5-STANDARD-UI-KIT-Free-3.5.1/js/bootstrap.min.js"></script>
<script src="../Bootstrap/MDB5-STANDARD-UI-KIT-Free-3.5.1/js/main.js"></script>

</body>
</html>